/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  width: 330px; /* Set a fixed width for the popup */
  height: 250px; /* Set a fixed height for the popup */
}

.main {
  width: 100%; /* Make the main container full width of body */
  height: 100%; /* Make the main container full height of body */
  padding: 10px; /* Adjust padding for smaller space */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content {
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the element itself */
  font-size:20px; /* Adjusted font size for better fit */
  font-weight: bolder; 
}

/* Settings Button Styles */

#opensetting {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 5px; /* Smaller padding */
  font-size: 14px; /* Smaller font size */
  cursor: pointer;
  border-radius: 5px; 
}

#opensetting:hover {
  background-color: #3e8e41;
}



/* Input Styles */

.input-values {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  margin-top: 10px; 
  
}

input {
  width: 80px; /* Set a specific width for the input field */
  padding: 5px; /* Smaller padding */
  border: none; /* Add a subtle border for visibility */
  outline: none;
  border-bottom:  2px solid black;
  text-align: center;
  size: 3px;
  font-size: 2em;
  font-weight: bold;

}

/* Error Styles */

#error {
   color: red;
   font-size: 12px; /* Smaller font size for error messages */
   margin-top: 5px; /* Reduced margin */
}

/* Footer Styles */

.main-footer {
   text-align: center; 
   margin-top:10px; 
}

/* Content Minute Styles */

#contentminute {
   font-size:20px; 
   font-weight:bolder; 
}

/* Button Styles */

.main-button {
   margin-top:10px; 
   text-align:center; 
}

#contentbutton1 {
   background-color:#4CAF50; 
   color:#fff; 
   border:none; 
   padding:5px; /* Smaller button size */
   font-size:14px; 
   cursor:pointer; 
   border-radius:5px; 
}

#contentbutton1:hover {
   background-color:#3e8e41; 
}

/* Dropdown Styles */

#myDropdown {
   width: 20px; /* Set to auto for smaller size */
    margin-right: 10px;
    margin-bottom: 30px;
   font-size:14px; /* Smaller font size */ 
   border:none; 
}

/* Stop Button Styles */

#mainstop {
   background-color:#ff0000; 
   color:#fff; 
   border:none; 
   padding:5px; /* Smaller button size */
   font-size:14px; 
   cursor:pointer; 
}

/* Stop Button Wrapper */

.stop-button-wrapper {
   display:flex; 
   justify-content:center; 
   margin-top:10px; /* Margin to separate from other elements */ 
}